html {
	height: 100%;
	/*background: url('Resources/pattern.png');
	background: linear-gradient(rgba(135, 121, 93, 0.4), rgba(135, 121, 93, 0.2)), url('Resources/pattern.png');/*
	
	/*background-color:rgba(135, 121, 93, 0.5);
	background-image: linear-gradient(30deg, #fff 12%, transparent 12.5%, transparent 87%, #fff 87.5%, #fff),
	linear-gradient(150deg, #fff 12%, transparent 12.5%, transparent 87%, #fff 87.5%, #fff),
	linear-gradient(30deg, #fff 12%, transparent 12.5%, transparent 87%, #fff 87.5%, #fff),
	linear-gradient(150deg, #fff 12%, transparent 12.5%, transparent 87%, #fff 87.5%, #fff),
	linear-gradient(60deg, #efefef 25%, transparent 25.5%, transparent 75%, #efefef 75%, #efefef), 
	linear-gradient(60deg, #efefef 25%, transparent 25.5%, transparent 75%, #efefef 75%, #efefef);
	background-size:20px 35px;
	background-position: 0 0, 0 0, 10px 17.5px, 10px 17.5px, 0 0, 10px 17.5px;*/
}

@font-face {font-family: 'Noto Sans Regular'; src: url('notosans.ttf');}
.grey {
	color: #666 !important;
	font-size: 20pt;
}

.gold {
	color: rgba(135, 121, 93, 1) !important;
	font-size: 20pt;
}

.blue {
	color: rgba(21, 35, 67, 1) !important;
}

.biu-intro {
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
	text-align: center;
}

.minimal {
	margin: 0 !important;
	padding: 0 !important;
}

.closebtn {
	position: absolute;
	top: 5px !important;
	right: 15px !important;
	cursor: pointer !important;
	z-index: 11 !important;
	font-size: 25pt;
	color: #fff;
	text-shadow: text-shadow: 5px 5px 10px #000 !important;
}

.bokgoni-ul {
	list-style: none !important;
 	text-indent: -1em;
 	padding-right: 0.5em;
 	padding-left: 0.75em;
 	text-align: justify;
 	margin: 10px 0 0 0 !important;
}

.bokgoni-ul li:before {
	content: '>';
	font-weight: 700 !important;
	font-style: normal !important;
	text-decoration: none !important;
	margin-right: 7.5px !important;
	color: #9a9a9a !important;
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background-color: rgba(135,121,93, 1) !important;
}

::-webkit-scrollbar-thumb {
    background: rgba(21, 35, 67, 1) !important;
    /*-webkit-border-radius: 5px;*/
    height: 5px;
}


::-webkit-scrollbar-track {
    background-color: inherit;
    /*-webkit-border-top-right-radius: 5px;*/
}

body {
	display: grid;
	height: 100%;
	max-width: 100%;
	min-width: 350px;
	margin-left: auto;
	margin-right: auto;
	grid-gap: 0px;
	grid-template-columns: 1fr;
	grid-template-rows: 150px 50px 1fr 50px;
	grid-template-areas: 	"top"
							"nav"
							"content"
							"foot";
	/*background: linear-gradient(90deg, rgba(21, 35, 67, 0), rgba(21, 35, 67, 1), rgba(21, 35, 67, 0));*/
	background: rgba(255,255,255,0.6);
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.5);*/
	color: #fff;
	font-family: 'Noto Sans Regular';
	/*padding: 40px;*/
	transition: 0.75s all;
}

.test {
	color: #000;
	border: 1px solid blue;
}

.top {
	grid-area: "top";
	/*background: rgba(21, 35, 67, 1);*/
	background: #fff;
	color: rgba(21, 35, 67, 1);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.5);

	display: grid;
	grid-gap: 10px;
	padding: 10px;
	grid-template-columns: auto 1fr auto auto;
}

.bokgoni-hr {
	margin: 15px 0 15px 0;
	height: 1.5px !important;
	width: 100%;
	background-color: rgba(135,121,93, 1);
}

@media (max-width: 650px) {
	body {
		grid-template-rows: auto 50px 1fr 150px;
	}
	.top{
		grid-template-columns: 150px 1fr;
		grid-template-rows: 75px 50px;
	 	grid-gap: 0px;
	}
	.top .name {
		grid-column: 2/-1;
		font-size: 18pt !important;
		line-height: 20pt;
		padding: 0 !important;
		text-align: center !important;
	}
	.top .slogan {
		grid-column: 2/-1;
		text-align: left !important;
		font-size: 8pt !important;
		text-align: center !important;
	}

	.navbtn {
		font-size: 8pt !important;
		font-weight: bold;
	}

	.navbtn:hover {
		border-top-right-radius: 10px !important;
		border-top-left-radius: 10px !important;
		letter-spacing: normal !important;
	}

	.navbtn-active {
		border-top-right-radius: 10px !important;
	}

	.foot {
		display: grid;
		min-width: 100% !important;
		grid-template-columns: 1fr;
		grid-template-rows: 50px 50px 50px;
		align-content: center;
		justify-content: center;
	}

	.foot .client{
		grid-row: 1/2;
		text-align: center;
		padding: 0;		
	}

	.foot .ampersand {
		grid-row: 2/3;
		text-align: center;
	}

	.foot .devs {
		grid-row: 3/-1;
		padding: 0;
		text-align: center;
	}

	.foot div {
		border: 1px solid red;
	}

	.carousel-caption {
		display: none !important;
		/*max-width: 200px !important;*/
	}

	.carousel-indicators {
		margin-bottom: 0px !important;
	}
}

.top .logo {
	margin: 0 auto 0 auto;
	height: 125px;
	max-height: auto;
	background: #fff;
}

.top .name {
	display: grid;
	align-content: center;
	font-size: 2.5vw;
	font-family: 'Noto Sans Regular';
	font-weight: bolder;
	padding-left: 20px;
}

.top .slogan {
	text-align: right;
	font-style: italic;
	display: grid;
	align-content: center;
	font-size: 1.6vw;
	padding-right: 25px;
}

.top .fb {
	text-align: center;
	display: grid;
	align-content: center;
	padding-right: 25px;
}

.top .icon {
	max-height: 30px !important;
	max-width: : 30px !important;
	transition: 0.25s all;
	cursor: pointer;
}

.top .icon:hover {
	max-height: 35px !important;
	max-width: : 35px !important;	
}

.nav {
	grid-area: "nav";
	background: rgba(135,121,93, 1);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.5);

	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-auto-rows: 50px;
}

.nav-tabs {
	border-bottom: none !important;
	cursor: pointer;
}

.nav:before {
	content: "";
	display: none !important;
}

.nav div {
	display: grid;
	align-content: center;
	justify-content: center;
}

.nav-tabs li a {
	transition: 0.5s all;
	cursor: pointer;
	font-size: 15pt;
	text-align: center;
	color: #fff !important;
	border: 1px solid transparent !important;
}

.navbtn:hover {
	background-color: rgba(21, 35, 67, 0.7) !important;
	color: #fff;
	border: 1px solid rgba(21, 35, 67, 1) !important;
	font-weight: bold;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	letter-spacing: 2px;
}

.nav li.active {
	border-top-right-radius: 20px !important;
	background-color: rgba(21, 35, 67, 1) !important;
	text-align: center !important;
	color: #fff !important;
}

.nav li.active a {
	border-top-right-radius: 20px !important;
	cursor: pointer !important;
	background-color: transparent !important;
	text-align: center !important;
	color: #fff !important;
}

.content {
	grid-area: "content";
	padding: 0 80px 0 80px;
	height: 100%;
}

.content-container {
	padding: 20px;
	color: #000;
}

.content-heading {
	height: 55px !important;
	line-height: 55px !important;
	padding-left: 15px !important;
	border-top-right-radius: 20px;
	
	/*border-bottom-left-radius: 20px;*/
	background-color: rgba(21, 35, 67, 1) !important;
	
	text-align: left !important;
	color: #fff !important;
	
	font-size: 2vw;
}

.content-text {
	font-weight: normal !important;
	font-style: italic !important;
	font-size: 12pt !important;
	text-align: center !important;
	margin: auto 0 auto 0 !important;
}

.partner-image {
	object-fit: cover !important;
	max-height: 100px !important;
	text-align: center !important;
}

.content-img {
	max-height: 125px !important;
	/*min-width: : 460px !important;*/
}

.hometab {
	display: grid !important;
	grid-gap: 25px !important;
	grid-template-columns: auto 1fr;
	grid-template-rows: 150px 237.5px 237.5px;
	transition: 1s all !important;
}

.gallerytab {
	display: grid !important;
	grid-gap: 25px !important;	
	grid-template-columns: repeat(6, 200px);
	grid-template-rows: 120px;
	grid-auto-rows: auto;
	justify-content: center;
}

.gallerytab .album-header {
	grid-column: 1/-1 !important;
	height: 35px;
	border-top-right-radius: 17.5px;
	border-bottom-left-radius: 17.5px;
	background-color: rgba(135, 121, 93, 1);
	font-size: 12pt;
	line-height: 35px;
	padding-left: 15px;
	letter-spacing: 1px;
	font-weight: bolder;
}

.gallerytab > .content-container:not(.intro) {
	padding: 0px;
	color: #000;
}

.content-image{
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.galleryimage{
	max-height: 120px !important;
	max-width: 200px !important;
	object-fit: cover !important;
	height: 100%;
	width: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
	transition: 0.5s all;
}

.galleryimage:hover{
	/*height: 252px;
	width: 252px;*/
	/*padding: 2%;*/
	/*height: 98%;
	width: 98%;*/
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(21, 35, 67, 1), 0 6px 20px 0 rgba(21, 35, 67, 1);
	cursor: pointer;
	opacity: 0.7;
}

.modal {
	background: radial-gradient(circle at center, rgba(21, 35, 67, 0.4), rgba(21, 35, 67, 0.8)) !important;
}

.modal-dialog {
	min-width: auto;
	width: 90%;
	min-height: 750px !important;
	display: grid;
	justify-content: center;
	align-content: center;
}

.modal-body {
	padding: 5px !important;
}

.modal-content {
	padding: 0px !important;
	background: rgba(135,121,93,1);
	min-height: auto;
	min-width: auto;
}

.modalimage {
	max-height: 790px;
	object-fit: fill;
	height: auto;
	width: auto;
	left: auto;
	right: auto;
	border-radius: 5px;
	margin: 0px !important;
}

.historytab {
	display: grid !important;
	grid-gap: 25px !important;
	grid-template-columns:  1000px 1fr;
	grid-template-rows: 150px 500px;
}

.historytab .intro {
	grid-auto-rows: 120px !important;
}

.historytab .bokgoni-carousel {
	grid-column: 1/2;
	grid-row: 2/-1;
	max-width: 1000px !important;
	margin: 0 auto 0 auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.stafftab {
	display: grid !important;
	grid-gap: 25px !important;
	grid-template-columns:  500px 1fr 750px;
	grid-template-rows: 150px minmax(auto, 500px) !important;
}

.stafftab .intro {
	grid-column: 3/-1 !important;
	grid-row: 1/2 !important;
}

.stafftab .carousel-caption-top-right {
	position: absolute;
}

.principal {
	grid-column: 1/2;
	grid-row: 1/3;

	padding: 0 !important;
	object-fit: cover !important;
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.staff {
	grid-column: 2/3;
	grid-row: 1/-1;

	display: grid;
	/*align-content: center;*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.quote {
	display: grid;
	grid-template-columns: 50px 1fr 50px;
	grid-template-rows: 1fr;
}

.quote-open {
	font-size: 20pt;
	color: rgba(21, 35, 67, 0.5);
	text-align: center;
	display: grid;
	align-content: flex-start;
	/*margin-right: 150px;*/
}

.quote-content {
	text-align: justify;
}

.quote-closed {
	font-size: 20pt;
	color: rgba(21, 35, 67, 0.5);
	text-align: center;
	display: grid;
	align-content: flex-end;
	/*margin-left: 150px;*/
}

.staffpic {
	grid-column: 3/-1;
	grid-row: 2/3;

	padding: 0 !important;
	object-fit: cover !important;
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.intro {
	grid-column: 1/-1;
	grid-row: 1/2;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.5);	
}

.intro .content-text {
	font-weight: normal !important;
	font-style: italic !important;
	font-size: 12pt !important;
	text-align: left !important;
	padding-top: 10px !important;
	padding-left: 25px !important;
	margin: auto 0 auto 0 !important;
}

.intro-text {
	height: 55px !important;
	line-height: 55px !important;
	padding-left: 15px !important;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 20px;
	/*border-bottom-left-radius: 20px;*/
	/*background-color: rgba(135,121,93, 1) !important;*/
	
	width: auto !important;
	padding-right:15px;
	background-color: rgba(21, 35, 67, 1) !important;
	text-align: left !important;
	color: #fff !important;
	font-size: 2vw;
}

.bokgoni-carousel {
	grid-column: 1/2;
	grid-row: 2/-1;
	max-width: 1000px !important;
	margin: 0 auto 0 auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.carousel-indicators li {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.carousel img {
	height: 500px !important;
	max-height: 500px !important;
	margin: 0 auto 0 auto;
	object-fit: fill !important;
	/*border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;*/
}

.carousel-caption {
	max-width: 400px !important;
	margin: 0 0 0 0 !important;
	padding: 0 !important;
	left: 30px !important; 
	right: 30px !important;
}

.carousel-caption-top-right {
    position: absolute;
    right: 15% !important;
    top: 20px;
    /*left: 15%;*/
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: right;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);

    max-width: 400px !important;
	margin: 0 0 0 0 !important;
	padding: 0 !important;
	/*left: 30px !important; */
	right: 30px !important;
}

.carousel-caption-narrow {
    max-width: 280px !important;
}

.carousel-control {
	width: 25px !important;
}

.caption-text {
	background-color: rgba(135,121,93, 1);
	padding: 5px;
	font-weight: bolder;
	text-align: left;
	border-top-right-radius: 10px;
	margin-bottom: 2.5px !important;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.caption-subtext {
	background-color: rgba(21, 35, 67, 1);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
	padding: 5px;
	text-align: right;
	margin-left: 10px !important;
	border-bottom-left-radius: 10px;
}

.vision {
	grid-column: 2/-1;
	grid-row: 2/3;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.5);

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 55px 1fr;
}

.mission {
	grid-column: 2/-1;
	grid-row: 3/-1;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
	/*border-top-right-radius: 25px;*/

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 55px 1fr;
}

.history {
	grid-column: 2/-1;
	grid-row: 2/3 !important;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.5);

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 55px 1fr;
}

.contacttab {
	display: grid !important;
	grid-gap: 25px !important;
	grid-template-columns: 1fr 350px;
	grid-template-rows: auto auto;
}

.academicstab {
	display: grid !important;
	grid-gap: 25px !important;
	grid-template-columns: 500px 500px 1fr;
	grid-template-rows: auto auto;
}

@media (max-width: 800px) {
	.contacttab {
		display: grid !important;
		grid-gap: 25px !important;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}

	body {
		height: 100% !important
		max-height: 100% !important;
	}

	.visit {

		grid-column: 1/-1 !important;
		grid-row: 1/2  !important;
	}
	.contact {
		grid-column: 1/-1  !important; 
		grid-row: 2/3  !important;
	}
	.mail {
		grid-column: 1/-1 !important;
		grid-row: 3/-1 !important;
	}	

	.hometab {
		display: grid !important;
		grid-gap: 25px !important;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto auto;	
	}

	.intro {
		grid-column: 1/-1;
		grid-row: 1/2;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
		font-style: italic;
		font-size: 36px;	
	}

	.bokgoni-carousel {
		grid-column: 1/-1;
		grid-row: 2/3;
		height: auto;
		max-width: 1000px !important;
		margin: 0 auto 0 auto;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
	}
	.vision {
		grid-column: 1/-1;
		grid-row: 3/4;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.5);

		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 55px 1fr;
	}

	.mission {
		grid-column: 1/-1;
		grid-row: 4/-1;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
		/*border-top-right-radius: 25px;*/

		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 55px 1fr;
	}

}
.achievements {
	grid-column: 1/3;
	grid-row: 1/2;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.5);

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 55px 1fr;
	text-align: left !important;
}

.achievements .content-text {	
	text-align: left !important;	
}

.lowergrades {
	grid-column: 1/2;
	grid-row: 2/-1;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.5);

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 55px 1fr;
	justify-content: center !important;
	align-content: flex-start !important;
}

.lowergrades .content-text {
	text-align: left !important;	
	padding-top:5px;
}

.highergrades {
	grid-column: 2/3;
	grid-row: 2/-1;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.5);

	display: grid;
	justify-content: center !important;
	align-content: flex-start !important;
	grid-template-columns: 1fr;
	grid-template-rows: 55px 1fr;
}

.highergrades .content-text {
	text-align: left !important;
	padding-top:5px;
}

.collage {
	grid-column: 3/-1;
	grid-row: 1/-1;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.collage-img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.partnerstab {
	display: grid !important;
	grid-gap: 25px !important;
	grid-template-columns: repeat(2, 500px);
	justify-content: center;
}

.partner {
	/*grid-column: 2/-1;
	grid-row: 1/-1;*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.5);

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 55px 135px 1fr;
	text-align: left !important;
}

.partner-subheading {
	font-style: normal !important;
	letter-spacing: 1px !important;
	font-weight: bold !important;
	color: rgba(135,121,93,1) !important;
}

.visit {
	grid-column: 1/2;
	grid-row: 1/-1;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.5);

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 55px 1fr;
}

.contact {
	grid-column: 2/-1;
	grid-row: 1/2;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.5);

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 55px 1fr;
}

.mail {
	grid-column: 2/-1;
	grid-row: 2/-1;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.5);

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 55px 1fr;
}

.map {
	grid-column: 1/-1;
	grid-row: 1/2;
	width: 100%;
	height: 350px;
}

.foot {
	grid-area: "foot";
	background: rgba(21, 35, 67, 1);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.5);

	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-content: center;
	justify-content: center;
}

.client {
	text-align: right;
	padding-right: 25px;
	line-height: 25pt;
}

.ampersand {
	font-size: 20pt;
	line-height: 25pt;
	color: rgba(135,121,93, 1);
	font-weight: bolder;
}

.devs {
	text-align: left;
	padding-left: 25px;
	line-height: 25pt;
}

